[submodule "libraries/MCAD"]
	path = libraries/MCAD
	url = https://github.com/openscad/MCAD
	branch = dev
[submodule "libraries/scad-utils"]
	path = libraries/scad-utils
	url = https://github.com/openscad/scad-utils
[submodule "libraries/threadlib"]
	path = libraries/threadlib
	url = https://github.com/adrianschlatter/threadlib
[submodule "libraries/list-comprehension-demos"]
	path = libraries/list-comprehension-demos
	url = https://github.com/openscad/list-comprehension-demos
[submodule "libraries/IoP-satellite"]
	path = libraries/IoP-satellite
	url = https://github.com/MisterHW/IoP-satellite
